<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <test name="StartShopping">
        <groups>
            <run>
                <include name="Items"/>
                <exclude name="Description"></exclude>
            </run>
        </groups>
        <classes>
            <class name="ItemTest"/>
            <class name="CartTest"/>
        </classes>
    </test>
</suite>